
.container{
    margin-top: 100px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(140, 122, 5);
    color: white;
    direction: rtl;
  }
  .btn{
    margin-left: 500px;
    margin-top: 40px;
    background-color: rgb(140, 122, 5);
    color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    
  }
  #customers td {
    direction: rtl;
  }