
<!-- <a href="">home</a>

<a href="/about">about</a>
<a href="/contact">contact</a> -->


<!-- <p>{{test()}}</p>

<button [disabled]="isdisabeled">click</button>

<router-outlet></router-outlet>

<p>{{counter}}</p>
<button (click)="increase()">+</button>
<button (click)="decrease()">-</button>




  <p [class]="mydisplay"> iiiiiiiiiiiiiiiidddddddddddd</p>

<button (click)="showhide()">{{message}}</button>


<input [(ngModel)]="val">
<p>{{val}}</p>

<div *ngFor="let item of data"
>
<p>{{item.title}}</p>
<p><img src={{item.url}}></p>

</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!-- <p> <button class="btn button">bb</button></p> -->
